@import "../../styles/mixins";
@import "../../styles/variables";

.notificationsModal {
  @include flex(center, space-between, column);
  width: 450px;
  min-height: 550px;
  gap: 1rem;
  @media (max-width: $breakpoint-sm) {
    width: auto;
    min-height: 500px;
  }
  .notificationsModal__title {
    font-size: 1.7rem;
    letter-spacing: 0.3px;
  }
  .notificationsModal__container {
    flex: 1;
    width: 100%;
    @include flex(center, flex-start, column);
    gap: 1.8rem;
    overflow-y: auto;
    @include hideScrollbar;
    &.notificationsModal__container--empty {
      justify-content: center;
    }
    .notificationsModal__container__empty {
      @include flex(center, center, column);
      background-color: $gray;
      border-radius: 20px;
      padding: 2rem;
      height: 300px;
      .notificationsModal__container__empty__header {
        font-size: 1.4rem;
        font-weight: $font-weight-normal;
        color: $light-gray;
        text-align: center;
        @media (max-width: $breakpoint-sm) {
          font-size: 1.3rem;
        }
      }
      .notificationsModal__container__empty__icon {
        color: $light-gray;
        font-size: 3.3rem;
        margin-bottom: 1rem;
        @media (max-width: $breakpoint-sm) {
          font-size: 3rem;
        }
      }
    }
  }
  .notificationsModal__closeButton {
    @include buttonReset;
    padding: 0.5rem;
    background-color: $dark-blue;
    color: $white;
    width: 100%;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: $font-secondary;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: $dark-blue-hover;
    }
    .notificationsModal__closeButton__icon {
      margin-right: 0.6rem;
    }
  }
}