@import "../../styles/variables";
@import "../../styles/mixins";

.profileContainer {
  .profileContainer__list {
    list-style: none;
    .profileContainer__list__item {
      @include flex(center, center);
      padding: 0.8rem 0.5rem;
      width: 100%;
      @media (max-width: $breakpoint-sm) {
        padding: 1rem;
      }
      .profileContainer__list__item__container {
        @include flex(center, flex-start);
        flex: 1;
        .profileContainer__list__item__container__icon {
          font-size: 1.7rem;
          margin-right: 1rem;
          color: $dark-purple;
          @media (max-width: $breakpoint-sm) {
            margin-right: 0.7rem;
          }
        }
        .profileContainer__list__item__container__title {
          font-size: 1.3rem;
          color: $black;
          @media (max-width: $breakpoint-sm) {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  .profileContainer__buttonsContainer {
    @include flex(center, center, column);
    gap: 1rem;
    margin-top: 2rem;
    .profileContainer__buttonsContainer__button {
      @include buttonReset;
      @include flex(center, center);
      font-family: $font-secondary;
      font-size: 1.1rem;
      border-radius: 15px;
      background-color: $purple;
      color: $white;
      text-align: center;
      width: 100%;
      padding: 0.7rem 1rem;
      transition: all 0.2s ease-in-out;
      .profileContainer__buttonsContainer__button__icon {
        margin-right: 0.5rem;
        font-size: 1.1rem;
      }
      &.button--delete {
        background-color: $dark-red;
        &:hover {
          background-color: $dark-red-hover;
        }
      }
      &.button--logout {
        background-color: $dark-blue;
        &:hover {
          background-color: $dark-blue-hover;
        }
      }
    }
  }
}