@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.loadingScreen {
  @include tinderCard($white);
  @include flex(center, center, column);
  background-color: $purple;
  @media (max-width: $breakpoint-sm) {
    width: 100%;
  }
  .loadingScreen__icon {
    font-size: 5rem;
    @include loadingSpinnerRotate;
  }
}

