@import "./variables";

@mixin flex($alignItems, $justifyContent, $direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin tinderCard($fontColor) {
  width: $tinderCard-width;
  height: $tinderCard-height;
  color: $fontColor;
  border-radius: $tinderCard-border-radius;
  @media (max-width: $breakpoint-sm) {
    height: 100%;
    margin-bottom: 1.2rem;
  }
}

@mixin hideScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;  
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin buttonReset {
  outline: none;
  border: none;
  cursor: pointer;
}

@mixin tinderButtonsContainer {
  @include flex(center, space-around);
  width: 100%;
}