/* COLORS */
$bg-color: #F3F4F8;
$purple: #b165eb;// b165eb or A350E1
$blue: #0FB3F1;
$red: #FD5066;
$green: #35E7B8;
$white: #fff;
$black: #000;
$yellow: #FDD373;
$gray: rgba(0, 0, 0, 0.1);
$tooltip-bg: rgba(0, 0, 0, 0.8);
$tinderCard-overlay-bg: rgba(0, 0, 0, 0.6);
$dark-blue: #4285F4;
$dark-blue-hover: #366fcc;
$dark-green: #25be95;
$dark-purple: #9a4ed4;
$light-red: #ff6c7f;
$dark-red: #cf2d43;
$dark-red-hover: #b31e32;
$dark-purple: #8f4fc0;
$dark-gray: #1b1b1b;

/* BOX SHADOW */
$block-box-shadow: 5px 5px 15px -12px #000000;
$btn-box-shadow: 5px 5px 15px -10px #000000;

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
$font-primary: 'Didact Gothic', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;

/* OTHER */
$tinderCard-border-radius: 20px;
$tinderCard-transition: all 0.2s ease-in-out;
$tinderCard-width: 100%;
$tinderCard-height: 700px;

/* BREAKPOINTS */
$breakpoint-sm: 600px;