@import "./variables.scss";
@import "./mixins.scss";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg-color;
  font-family: $font-primary;
}

a {
  text-decoration: none;
}

.container {
  width: 500px;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
  @include flex(center, center, column);
  @media (max-width: $breakpoint-sm) {
    width: 100%;
    padding: 1rem 0.8rem;
  }
  .container__main {
    width: 100%;
    margin: 1.5rem auto;
    flex: 1;
    @include flex(center, space-between, column);
    @media (max-width: $breakpoint-sm) {
      margin-bottom: 0;
    }
  }
  .container__main__buttons {
    @include flex(center, space-around);
    width: $tinderCard-width;
  }
}