@import "../../styles/mixins";
@import "../../styles/variables.scss";

@mixin iconColor($fontColor, $bgColor) {
  color: $fontColor;
  transition: all 0.1s ease-in-out;
  &:hover {
    background-color: $bgColor;
    color :$white;
  }
}

.roundedButton {
  @include flex(center, center);
  background-color: $white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: $btn-box-shadow;
  padding: 0.8rem;
  &.icon-black { @include iconColor($black, $black); }

  &.icon-blue { @include iconColor($blue, $blue); }

  &.icon-red { @include iconColor($red, $red); }

  &.icon-purple { @include iconColor($purple, $purple); }

  &.icon-green { @include iconColor($green, $green); }

  &.icon-yellow { @include iconColor($yellow, $yellow); }
}