@import "../../styles/mixins";
@import "../../styles/variables.scss";

@mixin iconColor($color) {
  color: $color;
  transition: all 0.1s ease-in-out;
  &:hover {
    background-color: $color;
    color :$white;
  }
}

.roundedButton {
  @include flex(center, center);
  @include buttonReset;
  background-color: $white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: $btn-box-shadow;
  padding: 0.8rem;

  &.roundedButton--icon-black { @include iconColor($black); }

  &.roundedButton--icon-blue { @include iconColor($blue); }

  &.roundedButton--icon-red { @include iconColor($red); }

  &.roundedButton--icon-purple { @include iconColor($purple); }

  &.roundedButton--icon-green { @include iconColor($green); }

  &.roundedButton--icon-yellow { @include iconColor($yellow); }

  &.roundedButton--badge {
    &:after {
      content: attr(data-badge);
      width: 10px;
      height: 10px;
      font-size: 0.9rem;
      font-family: $font-secondary;
      border-radius: 50%;
      background-color: $red;
      color: $white;
      @include flex(center, center);
      padding: 0.8rem;
      position: absolute;
      left: -10px;
      bottom: -12px;
    }
  }
}