@import "../../styles/mixins";
@import "../../styles/variables";

$headerBreakpointFontSize: 1.8rem;

.header {
  @include flex(center, space-between);
  width: 100%;
  @media (max-width: $breakpoint-sm) {
    display: block;
  }
  .header__group {
      .header__group__container {
        @include flex(center, center);
        white-space: nowrap;
        text-overflow: ellipsis;
        .header__group__container__title {
          @media (max-width: $breakpoint-sm) {
            font-size: $headerBreakpointFontSize;
          }
        }
        .header__group__container__icon {
          color: $purple;
          margin-right: 0.7rem;
          font-size: 2rem;
          @media (max-width: $breakpoint-sm) {
            font-size: $headerBreakpointFontSize;
          }
        }
    }
    .header__group__container__poweredby {
      @media (max-width: $breakpoint-sm) {
        font-size: 1rem;
        text-align: center;
      }
    }
  }
  .header__buttons {
    @include flex(center, flex-end);
    gap: 1rem;
    flex: 1;
    @media (max-width: $breakpoint-sm) {
      margin-top: 1rem;
      justify-content: space-around;
    }
  }
}